@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap");
@import '_mixins.scss';

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  color: #fff;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/3107.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}

#weather-app {
  position: relative;
}

.weather-container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 15px;
}

h1 {
  font-size: 60px;
  margin-bottom: 5px;
  padding-top: 60px;
  @include for-size(phone) {
    font-size: 48px;
  }
}

.app-date {
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
}

.loading {
  font-size: 16px;
  opacity: 0.8;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  svg {
    font-size: 42px;
  }
}

.reset-pos {
  text-align: center;
  display: inline-block;
  width: 100%;

  button {
    color: #876f95;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
    &:hover {
      color: #333552;
    }
  }
}
