@import "_mixins.scss";

.error {
    text-align: center;
    background: rgba(255,255,255,.3);
    width: 46%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 5px;
    color: #444;
    font-size: 18px;
    animation-name: fade;
    animation-duration: 1s;

    @include for-size(phone) {
      width: 80%;
    }

    h2 {
        display: inline;
        margin-right: 15px;
    }
    svg {
        font-size: 28px;
    }
}