@import "_mixins.scss";

.forecast {
  display: flex;
  animation-name: fadeIn;
  animation-duration: 1.2s;

  @include for-size(phone) {
    display: block;
    overflow: hidden;
  }

  .daily {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 5px;
    border-radius: 5px;
    text-align: center;

    @include for-size(phone) {
      width: 47%;
      float: left;
      margin-bottom: 10px;
    }

    .content {
      display: block;
      padding: 5px;
    }

    .icon {
      width: 60px;
      height: 60px;
      margin: 0 auto;
      img {
        max-width: 100%;
      }
    }

    .temp {
      font-weight: 500;
      font-size: 20px;
      margin: 5px 0;
    }

    .description {
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}
