@mixin for-size($range, $edge: null) {
    $phone: 768px;
    $tablet: 769px;
    $desktop: 1025px;
    $wide: 1921px;
 
    @if $range == phone {
      @media (max-width: #{$phone}) { @content; }
    } @else if $range == tablet {
      @media (min-width: $tablet) { @content; }
    } @else if $range == desktop {
      @media (min-width: $desktop) { @content; }
    } @else if $range == wide {
      @media (min-width: $wide) { @content; }
    } @else {
      @if ($edge == max) {
        @media (max-width: $range + px) { @content; }
      } @else {
        @media (min-width: $range + px) { @content; }
      }
    }
}


@keyframes fade {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 30px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
